# Standard LaTeX / bibTeX junk
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk

# Other build temporary files
_minted-*
*.synctex.gz
